body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{   
    width: 550px;
    background-color: rgb(38, 76, 86);
    padding: 40px 30px;
    margin: 10px;
}
.tabs{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.registerButton, .loginButton{
    height: 100%;
    width: 50%;
    border: none;
    color: white;
    font-family: "Labrada", serif;
    font-optical-sizing: auto;
    font-size: 25px;
    background-color: white;
    background: rgba(225, 225, 225, 0.1);
    transition: 0.15s;
}
.registerButton:hover, .loginButton:hover{
    background: rgba(225, 225, 225, 0.2)
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Labrada", serif;
    font-optical-sizing: auto;
    justify-content: center;
    color: white;
}
#myInput, #passwordInput, #passwordInput_2{
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: transparent;
}
.main-divs{
        margin-bottom: 20px ;
  }
  #myInput:focus, #passwordInput:focus, #passwordInput_2:focus {
    outline: none;
    border-color: rgb(0, 128, 92);
    box-shadow: 0 0 5px rgb(0, 128, 92);
    color: white;
    background-color: transparent;
  }
  #myInput::placeholder, #passwordInput::placeholder, #passwordInput_2::placeholder {
    color: rgb(212, 209, 209);
  }
  .submitButton{
    height: 60px;
    width: 100%;
    border: none;
    color: white;
    display: flex;
    font-weight: 700; 
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: rgb(0, 128, 92);
} 
.tabs button.active {
    background-color: rgb(0, 128, 92);
}
.form-section {
    display: none;
}
.form-section.active {
    display: block; 
}
.logoutPrompt{
    background-color: rgb(0, 128, 92);
    width: 100%;
    height: 200px;
    margin-top: 80px;
    color: white;
    font-size: 22px;
    padding: 10px;
}
#show_hide_password .input-group-text {
    cursor: pointer;
}
.input-group-text{
    background-color: transparent;
    height: 37.5px;
    border-radius: 6px;
}
/* @media (min-width: 200px) and (max-width: 700px) {
    .form{   
        height: 500px;
    }
} */